eg3d/wandb
eg3d/training-runs*

*.png
*.pkl
*.pth

control3diff*
*.zip
*.pyc
*.json
*.ply
*events.out.tfevents*
dataset_preprocessing/ffhq/ffhq-dataset-v2.json.tmp.25c2754cb5c940f1a9bfe5a420482a85
eg3d/~
eg3d/image_variation_finetune

eg3d/outputs

eg3d/dataset_*
eg3d/try_*
